$black: #151619;
$black-transparent: #151619b9;
$white: #ffffffde;
$white-transparent: #ffffff1a;
$dark-gray: #22242a;
$light-gray: #818798;
$gray: #393c46;
$red: #c42a15;
$blue: #2211bd;
$green: #13ac0e;
$gradient: linear-gradient(135deg, #8e54e9, #4776e6);

$box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
$backdrop-filter: blur(2px);
